@font-face {
  font-family: "evolve";
  src: url("../fonts/made_evolve_sans_bold_evo-webfont.woff") format("woff"),
    url("../fonts/made_evolve_sans_bold_evo-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "evolve-light";
  src: url("../fonts/made_evolve_sans_light_evo-webfont.woff") format("woff"),
    url("../fonts/made_evolve_sans_light_evo-webfont.woff2") format("woff2");
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: #56565c;
}

.container {
  height: 100%;
}

.login-form {
  margin-top: 3%;
  height: 350px;
  width: 500px;
  background-color: #36393f;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.header-logo {
  font-family: "evolve";
  color: #f0f0f0;
}

#inputEmail,
#inputPassword,
#confirmPassword {
  border-radius: 0;
  background-color: #56565c;
  color: #f0f0f0;
  border: none;
  font-size: 16px;
}

button.signin,
button.register {
  background-color: #46464a;
  color: #43b581;
  border: none;
  border-radius: 0;
  font-family: "evolve-light";
}

button.signin:hover,
button.register:hover {
  background-color: #56565c;
  color: #f0f0f0;
}

input,
button,
a,
p {
  margin: 10px 0;
}

.form-err {
  display: block;
  color: #ea7600;
  font-family: "evolve-light";
}
